<div class="banner">
  <div class="banner-text">
  <p>Salut ! Moi c'est </p>
    <h1 class="text-3xl">Tristan Monteiro</h1>
    <h2 class="text-2xl">Je suis ingénieur / développeur Ruby on Rails</h2>
  </div>
  <img src=<%= image_path("tristan-pro.png")%> alt="photo" class="banner-photo">
</div>
