<h2 class="text-center"  id="formation"><span class="gradient-text">02. </span>Mes formations</h2>
<div class="flex flex-col md:grid grid-cols-9 mx-auto p-2 text-blue-50 section">
  <!-- left -->
  <div class="flex flex-row-reverse md:contents">
    <div
      class="greyblue-bg w-500 col-start-1 col-end-5 p-4 rounded-xl my-4 ml-auto shadow-md">
      <h3 class="font-semibold text-lg mb-1 pb-3 text-center">Cycle préparatoire intégrée <> EBI (2015-2017)</h3>
      <ul class="list-colored">
        <li class="leading-tight text-justify">Maths & Programmation : Algorithmie en C+, analyse statistique en R</li>
        <li class="leading-tight text-justify">Physique, Chimie, Biologie</li>
      </ul>
    </div>
    <div class="col-start-5 col-end-6 md:mx-auto relative mr-10">
      <div class="h-full w-6 flex items-center justify-center">
        <div class="h-full w-1 bg-white pointer-events-none"></div>
      </div>
      <div
        class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-white w-500 shadow"
      ></div>
    </div>
  </div>
  <!-- right -->
  <div class="flex md:contents">
    <div class="col-start-5 col-end-6 mr-10 md:mx-auto relative">
      <div class="h-full w-6 flex items-center justify-center">
        <div class="h-full w-1 bg-white pointer-events-none"></div>
      </div>
      <div
        class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-white w-500 shadow"
      ></div>
    </div>
    <div class="greyblue-bg w-500 col-start-6 col-end-10 p-4 rounded-xl my-4 mr-auto shadow-md">
      <h3 class="font-semibold text-lg mb-1 pb-3 text-center">Cycle ingénieur <> EBI (2017-2020)</h3>
      <ul class="list-colored">
        <li class="leading-tight text-justify"> Lancement de produit, stratégie digitale</li>
        <li class="leading-tight text-justify">Projets scientifiques d'innovation : Sel de déneigement écologique, présenté au MEDEF Paris, puis à 2 concours d'innovation dont Innov'street</li>
      </ul>
    </div>
  </div>
  <!-- left -->
    <div class="flex flex-row-reverse md:contents">
      <div class="greyblue-bg w-500 col-start-1 col-end-5 p-4 rounded-xl my-4 ml-auto shadow-md">
        <h3 class="font-semibold text-lg mb-1 pb-3 text-center">Stage Consultant Digital <> Cartelis (2020)</h3>
        <ul class="list-colored">
          <li class="leading-tight text-justify">Mission client <> Fluow : Accompagnement dans la mise en place d'un système de prospection automatisée</li>
          <li class="leading-tight text-justify">Construction de ressources : Plan de tracking Web Firebase, planning digital</li>
          <li class="leading-tight text-justify">Actions marketing (Rédaction d'articles data, scénario automation )</li>
        </ul>
      </div>
      <div class="col-start-5 col-end-6 md:mx-auto relative mr-10">
        <div class="h-full w-6 flex items-center justify-center">
          <div class="h-full w-1 bg-white pointer-events-none"></div>
        </div>
        <div class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-white w-500 shadow"></div>
      </div>
  </div>
  <div class="flex md:contents">
    <div class="col-start-5 col-end-6 mr-10 md:mx-auto relative">
      <div class="h-full w-6 flex items-center justify-center">
        <div class="h-full w-1 bg-white pointer-events-none"></div>
      </div>
      <div
        class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-white w-500 shadow"
      ></div>
    </div>
    <div class="greyblue-bg w-500 col-start-6 col-end-10 p-4 rounded-xl my-4 mr-auto shadow-md">
      <h3 class="font-semibold text-lg mb-1 pb-3 text-center">Bootcamp Développeur Web <> Le wagon (2021)</h3>
      <ul class="list-colored">
        <li class="leading-tight text-justify">9 semaines de cours intensifs de code pour apprendre HTML, CSS, Bootstrap, JavaScript ES6,
                                              SQL, git, GitHub, Heroku et Ruby on Rails.</li>
        <li class="leading-tight text-justify">Conception, implémentation et mise en production d'un production un clone de AirBnB</li>
      </ul>
    </div>
  </div>
  <!-- end -->
</div>
