<div class="card-mission">
  <div class="background-mission mission1">
  </div>
  <img src=<%= image_path("logokaioit.jpg")%> class="logo-company" />
  <div class="mission-spans">
    <span class="mission-span">Growth Hacking</span>
    <span class="mission-span">Enrichissement de données</span>
  </div>
  <h3 class="mission-title">Applications d'enrichissement de données</h3>
</div>
<div class="realisation-desc">
  <h3 class="mission-title-desc">Freelance <span class="separator">//</span> Goodwill</h3>
  <div class="card-desc">
    <p><span class="name-desc-category">Contexte : </span>L'entreprise Goodwill disposait d'un fichier de 13.000 noms d'entreprises et
      souhaitait obtenir l'ensemble des coordonnées des dirigeants</p>
      <p><span class="name-desc-category">Résultats : </span>L'entreprise Goodwill disposait d'un fichier de 13.000 noms
        d'entreprises et souhaitait obtenir l'ensemble des coordonnées des dirigeants</p>
  </div>
  <div class="technos-wrapper">
    <div class="techno">
      <img src=<%= image_path("rails.png")%> alt="" class="techno-photo">
      <span class="techno-desc">Ruby On Rails</span>
    </div>
    <div class="techno">
      <img src=<%= image_path("rails.png")%> alt="" class="techno-photo">
      <span class="techno-desc">Sidekiq</span>
    </div>
  </div>
  <div class="project-web-links">
    <a class ="project-web-link" href="https://github.com/AxelBurtz/SwipArt"><i class="fab fa-github project-icon-git"></i> Code source </a>
    <%# <a class ="project-web-link" href="https://github.com/Git-TM"><i class="fas fa-desktop project-icon-git"></i> Version Web </a> %>
  </div>
</div>
