
  <div id="modal-window-<%=project.id%>" class="modal" role="dialog" aria-labelledby="show" aria-hidden="true">
    <div class="modal-dialog form-test" role="document">
      <div class="modal-content">
        <h2><%= project.projectname %></h2>
        <%= project.category %>
        <%= project.context %>
      </div>
    </div>
  </div>
