.banner{
  display:flex;
  justify-content: space-evenly;
  height: 80vh;
  // background-color: $backblue;
  background-image: image-url("banner.svg");
  width:100%;
  object-fit:fill;
}

.banner-photo {
  width: 80vh;
  height: 80vh;
  margin: auto 0;
  border-radius: 20%;
  vertical-align: baseline;
}

.banner-text {
  text-align: center;
  line-height: 5rem;
  margin: auto 0;
  color: white;
}


/* Test animated */

.context{
    width: 100%;
    position: absolute;
    top: 62px;
    height: 600px;
}

.context h1{
    text-align: center;
    color: #fff;
}
.context h2{
    text-align: center;
    color: #fff;
}
