.primary-button{
  padding: 8px 24px;
  border-radius: 10px;
  transition: opacity 0.3s ease;
  text-decoration: none;
  box-shadow: 0 0 15px rgba(255, 255, 255, .2);
  font-size: 20px;
}

.primary-button:hover{
  border: 2px solid;
  padding: 8px 24px;
  border-radius: 20px;
  transition: opacity 0.3s ease;
  text-decoration: none;
  box-shadow: 0 0 15px rgba(255, 255, 255, .5);
}

.dark-button{
  color: white;
  background-color: #32936F;
  opacity: .95;
}

.dark-button:hover{
  border-color: #32936F;
  background-color: white;
  color: #32936F;
  opacity: 1;
}

a {
  text-decoration: none;
}
