.bloc-service {
  justify-content: space-evenly;
  width: 30%;
  text-align: center;
}
.container-skill{
  padding: 0 50px;
}

.blocs-service {
  display:flex;
  justify-content: space-evenly;
}

.cards-service{
  display: flex;
}

.card-service{
  width: 300px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align:center;
  margin: 10px 30px;
}

.service-desc{
  // display: flex;
  // justify-content: center;
  vertical-align: middle;
  text-align: left;
}

/* .icon-service-desc {
  color: rgba(6, 96, 78, 1);
} */

.icon-desc {
  color:#781428;
  padding: 0px 6px;
  // width: fit-content;
}
.text-icon-desc{
 color:black;
 font-weight: normal;
}

.skill-desc-photo{
  height: 130px;
  object-fit: cover;
  margin-bottom: 20px;
}
