/* Bloc pour les 2 cards  */

.container-realisation {
  display: flex;
  margin: 50px 0px 70px 0px;
  justify-content: space-between;
}

.realisation-desc > h3 {
  color: white;
}
/* Card réalisation */
.card-mission {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 50%;
  border-radius: 20px;
  margin : 0px 25px;
  box-shadow: 0 0 15px rgba(255, 255, 255, .5);
  height: fit-content;
  margin-top: 32px;
}

.background-mission {
  height: 200px;
  width: 100%;
  background-size: cover;
  background-color: rgba(0,0,0,.2)
}

.project-web-links {
  padding: 10px 0px;
  display:flex;
  justify-content: flex-end;
}

.project-web-link {
  text-decoration: none;
  font-size: 14px;
  padding: 0px 10px;
  color: white;
}

.project-icon-git{
  font-size: 18px;
}
.project-web-link:hover{
  transform: scale(1.1);
  text-decoration: none;
}

.mission1{
  background-image: image-url("back-csv.png");
}

.mission2{
  background-image: image-url("photo-site.png");
}

.mission3{
  background-image: image-url("maps-mission.png");
}

.mission4{
  background-image: image-url("back-swipart.png");
}


.card-mission p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-mission {
  position: relative;
}

.mission-title{
  padding: 10px 40px;
  text-align:center;
}

// .logo-company {
//   position: absolute;
//   right: 16px;
//   top: 10px;
//   height: 60px;
//   border: 1px solid rgba(0,0,0,.1);
//   border-radius: 10px;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
// }

.mission-span {
  background-color: $red;
  color: white;
  font-weight: lighter;
  border-radius: 50rem;
  width:fit-content;
  font-weight: bold;
  padding: 0px 10px;
  font-size: 14px;
  text-align:center;
  margin-top: -10px;
  opacity: 1;
}

.mission-spans{
  display:flex;
  justify-content: space-evenly;
}

.mission-desc-title{
  padding-bottom: 10px;
  font-weight: bold;
  margin: 0 auto;
}

/* Bloc pour description de la mission */

.realisation-desc {
  width: 50%;
  margin : 0px 25px;
}

.card-desc {
  border-radius: 30px;
  background: $red;
  color: white;
  padding: 10px 25px;
  opacity: .8;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.name-desc-category{
  color: white;
  font-weight: bold;
  opacity: 1;
}

.mission-title-desc{
  text-align: right;
}

.separator{
  color:$red;
}

.techno-desc{
  color:white;
  font-size: 12px;
}
