.form-container{
  display: flex;
  justify-content: center;
  margin: 30px auto;
}

.form-contact{
  box-shadow: 0 0 15px rgba(0, 20, 40, .7);
  border-radius: 20px;
  padding: 20px 30px;
  width: 60%;
  text-align: center;
  color: $backblue;
  background-color: white;
}

.form-desc-container{
  width: 35%;
  justify-content: center;
  display: flex;
  align-items: center;
}

// .form-check-inlin{
//   display:flex;
//   justify-content: space-between;
// }

.form-control{
  border-radius: 20px;
}
