.banner-logo {
  width:30px;
  height:30px;
  object-fit: cover;
}

#navbar{
  display:flex;
  justify-content:space-between;
  background-color: $backblue;
  padding: 0 10%;
  align-items: center;
 }

.nav-categories{
  display:flex;
  justify-content:center;
}

.nav-category{
  font-size: 16px;
  color: white;
  margin: 20px 10px;
}
