.modal-wrapper{
  color: $backblue;
  display:flex;
}

.modal-content{
  padding: 30px;
  border-radius: 30px;
  width: 80%;
  margin: 1.75em auto;
}

.modal-desc{
  display: block;
  justify-content: space-between;
  width: 100%;
}

.photo-modal{
  width: 40%;
  margin: 20px 0px;
  border-radius: 20px;
}

.close-modal{
  background-color: transparent;
  border-style: none;
  color: $red;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
}

.techno {
  background-color: $red;
  display:flex;
  align-items: center;
  box-shadow: 0 0 15px $red;
  width: fit-content;
  border-radius: 20px;
  padding: 10px 10px;
  margin: 10px 10px;
}

.techno-desc{
  color:white;
  font-size: 12px;
}

.codetags-wrapper{
  flex-wrap: wrap;
}
