@media(max-width: 1201px) {

}

@media(max-width: 992px) {

  .container{
    padding: 45px 10px;
  }
  // banner
     .banner {
    display:block;
  }

  .banner-photo {
    width: 100%;
    object-fit: cover;

  }

  .banner-text{
    position: absolute;
    bottom: 20%;
    left : 10%;
    right: 10%;
    color: black;
  }

  .bloc-apropos{
    display: block;
    text-align: center;
    // margin: 0 auto;
  }

  .photo-apropos{
    margin-bottom: 20px;
  }

  .desc-a-propos{
    width: 100%;
    margin-top: 20px;
    padding: 0 10px;
  }
  .blocs-service{
    display: block;
  }

  .bloc-service{
    width:100%;
  }

  .skill-desc-photo{
    width: 200px;
    object-fit: contain;
  }

  .techologie-div{
    height: 280px;
  }

  .modal-wrapper{
    display:block;
  }

}

@media(max-width: 742px) {

  #clouds{
    display:none;
  }
    // réalisations

  .container-realisation{
    display: block;
  }

  .card-mission{
    width: 90%;
  }
  .realisation-desc{
    margin-top: 20px;
    width: 90%;
  }
  // skill
  .container-skill{
    padding: 0;
  }

  .skill{
    display:block;
  }

  .skill-desc{
    font-size: 12px;
  }
  .nav-categories{
    display:none;



}

}

@media(max-width: 460px) {
}
