.review-card {
  width: 100%;
  border-radius: 20px;
  color: white;
  text-align:center;
  font-style: italic;
  position: relative;
  background-color: white;
  max-height: 280px;
}

.review-image-wrapper{
  width: 40%;
  padding: 20px;
  background: linear-gradient(90deg, #FA7268 0%, #e63946 85%, transparent 26%);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: inline-block;
  vertical-align: middle;
  position:relative;
}

.review-image {
  position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

.review-image{
  width: 180px;
  object-fit: contain;
 }


.review-content-wrapper{
  width: 60%;
  padding: 20px 20px 20px 0px;
}

.review-content{
  font-style: italic;
  flex-grow: 1;
}

.review-author{
  font-size: 18px;
}


.review-button {
  position: absolute;
  bottom: -20px;
  text-align: center;
  left: 20%;
  right: 20%;
}

.carousel-indicators {
  bottom: -15px!important;
}
