// .service-list{
//   padding
// }

#service{
  color: white;
}

.bloc-service {
  justify-content: space-evenly;
  width: 33%;
  text-align: center;
}

.blocs-service {
  display:flex;
  justify-content: space-evenly;
}
